@charset "utf-8";
.notice_banner {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 5px;
}
.notice_container {
  width: 100%;
  position: relative;
  display: block;
  padding: 20px;
}
.notice-swiper-slide {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  cursor: pointer;
}
.notice-txtall> img{
  width: 100%;
}
.notice-txtall  > p {
  padding-left: 10px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  color: #000;
}

.notice_title , .notice_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;}

/* 반응형 */
@media (max-width: 1020px) {
  .notice_title {
    font-weight: 600;
    font-size: 20px;
  }
  .notice_text {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .notice_text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}


@media (max-width: 630px) {
  .notice_title {
    font-weight: 500;
    font-size: 16px;
  }
  .notice_text {
    font-size: 14px;
}}
@media (max-width: 470px) {
  .notice_title {
    font-size: 17px;
  }
  .notice_text {
    font-size: 15px;
}}

@media (max-width: 400px) {
  .notice_title {
    font-size: 17px;
  }
  .notice_text {
    font-size: 15px;
}}